html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
outline: none;

}
input, textarea, button, a,span,li{ -webkit-tap-highlight-color:rgba(0,0,0,0); } 
html { height: 101%; } /* always display scrollbars */
body { font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, Verdana, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; display: block;}

a { text-decoration: none; }
a:hover { text-decoration: none; }

.eventGround{width:100%;height:auto;overflow: hidden;margin:0 auto;position: absolute;top:0;left:0;}
.eventGround img{width: 100%;}
.eventGround .contain{width: 100%;height: auto;margin: 0 auto;overflow: hidden;position: relative;}
.eventGround .contain #btn1{display: block;width:37.4% ;height: auto;position: absolute;top:0;left:50%;margin-left: -18%;cursor: pointer;}

.eventGround nav img.li1{float: left;width: 18%}
.eventGround nav .li2{display: block;width: 26%;float: left;}
.eventGround nav .li3{display: block;width: 28.8%;float: left;}
.eventGround nav .li4{display: block;width: 27.2%;float: left;}
/*#choose{display: none;}*/
.eventGround .contain .userPic{display: block;width: 18%;padding: 4px;background: #fff;border: 2px solid #000;border-radius: 50%;position: absolute;bottom: 0;left: 6%;z-index: 9}
    .eventGround .contain .userPic img{width: 100%;border-radius: 50%;}
    .eventGround .contain p.userName{position: absolute;bottom:22%;left:22%;font-size: 14px;line-height: 20px;background: #fff;color: #000;padding:0 4%;border: 2px solid #000;border-top-right-radius: 12px;border-bottom-right-radius: 12px;}
    .eventGround .contain .userName em{display: inline-block;width: 14px;height: 14px;vertical-align: text-bottom;margin-left: 6px;background-image: url(images/gender.png);background-repeat: no-repeat;}
    .female{background-position: 0 0;}
    .male{background-position: 0 -14px;}
    .eventGround .contain .star{position: absolute;top:0;left:0;display: none;}
    .eventGround ul{width: 100%;height: auto;overflow: hidden;position: relative;}
    .eventGround ul li{float: left;position: relative;cursor: pointer;}
    .li5{width: 30%}
    .li6{width: 40%}
    .eventGround ul li .done{position: absolute;top:0;left: 0;z-index: -1}
    .eventGround .contain .action{display: block;position: absolute;top:36%;right:10%;z-index: 99;color: #fe1501;font-size: 30px;line-height: 30px;opacity: 0}
    .eventGround .contain .scores{font-size: 32px;line-height: 32px;color: #fe1501;position: absolute;top:32%;left:45%;}
    .eventGround .contain .scores a{display: inline-block;width: 30px;height: 32px;margin-left: 10px;background: url(images/price.png) no-repeat left top;vertical-align: text-top;animation: mymove 2s linear infinite  normal;margin-bottom: 0}
    @keyframes mymove
    {
    0%   {margin-top:0px;}
    25%  {margin-top:-3px;}
    50%  {margin-top: -6px;}
    75%  {margin-top: -3px;}
    100% {margin-top:0;}
    }

    @-moz-keyframes mymove /* Firefox */
    {
    0%   {margin-top:0px;}
    25%  {margin-top:-3px;}
    50%  {margin-top: -6px;}
    75%  {margin-top: -3px;}
    100% {margin-top:0;}
    }

    @-webkit-keyframes mymove /* Safari 和 Chrome */
    {
    0%   {margin-top:0px;}
    25%  {margin-top:-3px;}
    50%  {margin-top: -6px;}
    75%  {margin-top: -3px;}
    100% {margin-top:0;}
    }

    @-o-keyframes mymove /* Opera */
    {
    0%   {margin-top:0px;}
    25%  {margin-top:-3px;}
    50%  {margin-top: -6px;}
    75%  {margin-top: -3px;}
    100% {margin-top:0;}
    }
    .eventGround .contain .back{display: block;width: 13%;position:absolute;left: 5%;top:15%;}
    .eventGround .contain .prolist{width: 96%;padding: 2%;margin:0  auto;height: auto;overflow: hidden;position: absolute;top:0;left:2%;}
    .eventGround .contain .prolist li{width: 49%;background-color:#fff;padding: 3%}
    .eventGround .contain .prolist li:nth-child(2n){float: right;}
    .eventGround .contain .prolist li .proDetial{float: left;width:58%;font-size: 12px ;line-height: 18px;text-align: left;color: #86430f}
    .eventGround .contain .prolist li img{width: 40%;float: right;}
    .eventGround .contain .prolist li .proDetial .cost{display: block;padding:0 1%;height: 18px;background-color: #ff0000;color: #fff;text-align: center;width:40%;margin-top: 4%;border-radius: 6px;}
    .window{width: 100%;height: 100%;position: absolute;top:0;left: 0;display: none}
    .window .shadow{width: 100%;height: 100%;position: absolute;top:0;left: 0;background-color: #000;opacity: 0.85;}
    .window .textBox{width: 70%;height: auto;position: absolute;top:20%;left:50%;margin-left:-37%;background-color: #fff;border-radius: 6px;font-size: 14px;color: #000;line-height: 20px;text-align: center;padding: 4%}
    .window .textBox .name{display:block;width: 100%;text-align: center;line-height: 30px;margin-top: 2%;border-top:1px dotted #000;}
    .window .textBox p{line-height: 30px;}
    .window .textBox .cost{display: block;width: 30%;margin: 2% auto;cursor: pointer;}
    .window .textBox .close{font-size: 16px;color: #000;background-color: #fff;border:1px solid #000;border-radius: 6px;}
    #change .imgBox{width: 100%;top:0;left: 0;position: absolute;}
    #change .imgBox img{display: block;float: left;}

