{% extends "adminbase.html" %}
{% block title %}奖品列表{% end %}
{% block main %}
<div class="row">
  <br/>
  <br/>
  <br/>
  <div class="col-md-8 col-md-push-2">
    <button class="btn btn-mini btn-warning" type="button"><a href="/admin/award/add">添加</a></button>

    <table class="table table-striped">
      <thead>
      <tr>
        <th class="text-center">序号</th>
        <th class="text-center">说明</th>
        <th class="text-center">提供商</th>
        <th class="text-center">兑换点数</th>
        <th class="text-center">兑换码</th>
        <th class="text-center">图片</th>
        <th class="text-center">状态</th>
        <th class="text-center">修改</th>
      </tr>
      </thead>
      <tbody>
      {% if awards %}
        {% for award in awards %}
        <tr>
          <td class="text-center">{{ award['id'] }}</td>
          <td class="text-center">{{ award['name'] }}</td>
          <td class="text-center">{{ award['provide'] }}</td>
          <th class="text-center">{{ award['score'] }}</th>
          <th class="text-center">{{ award['code'] }}</th>
          <td class="text-center"><a href="{{ award['image'] }}">查看图片</a></td>
          <td class="text-center">
            {% if award['status'] == 1 %}
              有效
            {% else %}
              无效
            {% end %}
          </td>
          <td class="text-center"><a href="/admin/award/{{ award['id'] }}/update">修改</a></td>
        </tr>
        {% end %}
      {% end %}
      </tbody>
    </table>
  </div>
</div>
{% end %}