{% extends "base.html" %}
{% block title %}奖品{% end %}
{% block style %}
<link rel="stylesheet" href="http://7xkf6a.com2.z0.glb.qiniucdn.com/css/index-ddea3887ce.css">
{% end %}

{% block script %}
<script type="text/javascript" src="/static/js/slider-H5.js"></script>
{% end %}


{% block main %}

<div class="xwindow" style="display: none">
  <div class="black"></div>
  <div class="windowtxt">
    <p>领取的点数不符合哦</p>
    <span><img src="/static/images/ok.png"></span>
  </div>
</div>

<div class="eventGround">
  <div class="contain">
    <img src="/static/images/pic32.jpg">
    <a class="back" href="/home"><img src="/static/images/back.png"></a>
  </div>
  <div class="contain" id="change">
    <div class="imgBox">
      <ul>
        {% for bn in banners %}
        <li><img src="{{ bn['image'] }}"></li>
        {% end %}
      </ul>
    </div>
  </div>

  <img src="/static/images/pic34.jpg">
  <div class="contain">
    <img src="/static/images/pic35.jpg">
    <ul class="prolist">
      {% for ad in awards %}
      <li data-provide="{{ ad['provide'] }}" data-aid="{{ ad['id'] }}" data-name="{{ ad['name'] }}">
        {% if ad['count'] == 0 or ad['status'] == 0 %}
        <div class="proWin"></div>
        {% end %}
        <div class="proDetial">
          <p style="height: 36px;overflow: hidden;">
            <strong>{{ ad['provide'] }}</strong>
            <strong>{{ ad['aname'] }}</strong>
          </p>
          <span class="cost"><em>{{ ad['score'] }}</em>点</span>
        </div>
        <img src="{{ ad['image'] }}">
      </li>
      {% end %}
    </ul>
  </div>
</div>
<div class="window">
  <div class="shadow"></div>
  <div class="textBox">
    <div>
      <span class="name"></span>
      <p class="description">奖品说明</p>
      <p class="score">点击兑换后会扣除xxx点数哦！</p>
      <span class="cost"><img src="/static/images/cost.png"></span>
    </div>

    <div id="response" style="display: none;">
      <p class="code" id="code">兑换码：666666</p>
      <span class="close">ok</span>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {

    var score = 0;
    var aid = 0;
    $(".prolist li").bind("click", function () {
      if ($(this).children('.proWin').length != 0) {
        return false;
      }
      score = parseInt($(this).find('em').text());
      aid = $(this).attr('data-aid');
      var provide = $(this).attr('data-provide');
      var wardName = $(this).attr('data-name');
      var wardNameArr = wardName.split("\n");
      var wardNameHtml = '';
      for (var i = 0; i < wardNameArr.length; i++) {
        wardNameHtml += wardNameArr[i] + '<br />';
      }

      $(".textBox .name").text('活动奖品有' + provide + '商家提供');
      $(".textBox .description").html(wardNameHtml);
      $(".textBox .score").text('点击兑换后会扣除' + score + '点数哦！');
      $(".window").show();
    });

    $(".textBox .cost").bind("click", function () {
      $(this).parent().hide();
      // 请求兑换接口
      $.ajax({
        async: true,
        url: "/awards/" + aid,
        type: 'post',
        success: function (resp) {
          if (resp.code == 40022) {
            $("#code").text(resp.msg);
          } else {
            $("#code").text('兑换码：' + resp.award_code);
          }
          $('#response').show();
        },
        error: function (XMLHttpResponse, textStatus) {
          console.log(XMLHttpResponse);
          var status_code = XMLHttpResponse.status;
          if (status_code == 403) {
            window.location = '/auth/signin';
          }
          var body = JSON.parse(XMLHttpResponse.responseText);
          alert(body.msg)
        }
      })
    });

    $(".close").bind("click", function () {
      $(".window").hide();
      $(".textBox").find("div").eq(0).show();
      $('#response').hide();

    });

    /*轮播*/
//    var scrollImg = $.mggScrollImg('.imgBox ul', {
//      loop: true,
//      auto: true,
//      auto_wait_time: 3000,
//      scroll_time: 300,
//      callback: function (ind) {
//        $('#page').text(ind + 1);
//      }
//    });
    /*轮播修改*/
    var width = window.screen.width;
    var height = width * 0.4;
    $("#change ul").height(height);
    $("#change ul li").width(width);
    $("#change ul li").height(height);
    $("#change").height(height);
    $("#change").width(width);
    $(".imgBox").width(width * 3);
    $(".imgBox").height(height);
    $(".imgBox img").width(width);
    var scrollImg = $.mggScrollImg('.imgBox ul', {
      width: width,
      loop: true,
      auto: true,
      auto_wait_time: 3000,
      scroll_time: 300,
      callback: function (ind) {
        $('#page').text(ind + 1);
      }
    });

  });
</script>
{% end %}