{% extends "base.html" %}
{% block title %}选择宝宝{% end %}
{% block main %}
  <div>
    <section>
      <span>风像星座</span>
      <ul>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
      </ul>
    </section>

    <section>
      <span>风像星座</span>
      <ul>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
      </ul>
    </section>

    <section>
      <span>风像星座</span>
      <ul>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
      </ul>
    </section>

        <section>
      <span>风像星座</span>
      <ul>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
      </ul>
    </section>

  </div>
{% end %}