<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>{% block title %}{% end%}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="format-detection" content="telephone=no"/>
  {% block style %}{% end %}
  <link rel="stylesheet" type="text/css" href="/static/pet.css">
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  {% block script %}{% end %}
</head>

<body>
{% block main %}{% end %}
< img style="display:none;" src="images/a.jpg"/>
</body>
</html>