{% extends "base.html" %}
{% block title %}星座萌宠帮你赚奖品|我从同道大叔手里抢来一只星座宝宝，你要不要领养看?{% end %}
{% block main %}
<div class="eventGround"  id="choose">
    <img src="/static/images/pic6.jpg"/>
    <nav>
        <img class="li1" src="/static/images/pic7.jpg"/>
        <span class="li2" data-constellation="aquarius">
          <a href="/pet/shuiping"><img src="/static/images/pic8.jpg"/></a>
        </span>
        <span class="li3" data-constellation="libra">
          <a href="/pet/tiancheng"><img src="/static/images/pic9.jpg"/></a>
        </span>
        <span class="li4" data-constellation="gemini">
          <a href="/pet/shuangzi"><img src="/static/images/pic10.jpg"/></a>
        </span>
        <img class="li1" src="/static/images/pic11.jpg"/>
        <span class="li2" data-constellation="pisces">
          <a href="/pet/shuangyu"><img src="/static/images/pic12.jpg"/></a>
        </span>
        <span class="li3" data-constellation="scorpio">
          <a href="/pet/tianxie"><img src="/static/images/pic14.jpg"/></a>
        </span>
        <span class="li4" data-constellation="cancer">
          <a href="/pet/juxie"><img src="/static/images/pic15.jpg"/></a>
        </span>
        <img class="li1" src="/static/images/pic16.jpg"/>
        <span class="li2" data-constellation="leo">
          <a href="/pet/shizi"><img src="/static/images/pic17.jpg"/></a>
        </span>
        <span class="li3" data-constellation="sagittarius">
          <a href="/pet/sheshou"><img src="/static/images/pic18.jpg"/></a>
        </span>
        <span class="li4" data-constellation="aries">
          <a href="/pet/baiyang"><img src="/static/images/pic19.jpg"/></a>
        </span>
        <img class="li1" src="/static/images/pic20.jpg"/>
        <span class="li2" data-constellation="taurus">
          <a href="/pet/jinniu"><img src="/static/images/pic21.jpg"/></a>
        </span>
        <span class="li3" data-constellation="virgo">
          <a href="/pet/chunv"><img src="/static/images/pic22.jpg"/></a>
        </span>
        <span class="li4" data-constellation="capricorn">
          <a href="/pet/mojie"><img src="/static/images/pic23.jpg"/></a>
        </span>
    </nav>
    <img src="/static/images/pic24.jpg"/>
</div>
{% end %}